
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: rgb(0, 0, 0);
  color: whitesmoke
}

.Header{
  border: rgb(255, 255, 255) solid 3px;
}

.Article{
  border: rgb(255, 255, 255) solid 3px;
  
}
.Articles{
  border: rgb(255, 255, 255) solid 3px;

}
.User{
  border: rgb(255, 255, 255) solid 3px;

}

h1{
  color: rgb(204, 116, 255);
}
h2{
  color: rgb(255, 116, 139) ;
}

.articleImg{
 max-height: 20vh;
 max-width: 20vh;
  
}
.articleHolder {
  display:flex;
  flex-wrap:wrap;
}

.articleCard{
  
  padding: 2rem;
  margin: 1rem;
  max-width: 20vw;
  min-width: 15vw;
  min-height: 15vh;
  max-heigh: 20vh;
  border: rgb(157, 0, 255) solid 3px;
}
article{
  display: grid;
  grid-template-columns: auto auto;
}
.articleItem{
  display: block;
  padding: 1em;
}

.commentCard{
  border: rgb(255, 255, 255) solid 3px;
}
.commentVote{
  text-align: right;
  padding-right: 20px;
  margin-bottom: 5px;
  font-size: small;
}
.commentHeader{
  display: grid;
  grid-template-columns: auto auto;
  border: rgb(255, 255, 255) solid 3px;

}
.commentBody{
  text-align: left;
  padding-left: 20px;
}
.commentHeaderDate {
  text-align: right;
  font-size: small;
  margin: 5px;
}
.commentHeader > h5{
font-size: large;
text-align: left;
padding-left: 20px;
margin: 5px;
}