
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: rgb(0, 0, 0);
  color: whitesmoke
}

.Header{
  border: rgb(255, 255, 255) solid 3px;
  display: flex
}
.Header > img{
  width: 5vw;
  padding-right: 15vw;
  padding-left: 10vw; 
}

.Article{
  border: rgb(255, 255, 255) solid 3px;
  
}
.Articles{
  border: rgb(255, 255, 255) solid 3px;

}
.User{
  border: rgb(255, 255, 255) solid 3px;

}

h1{
  color: rgb(204, 116, 255);
}
h2{
  color: rgb(255, 116, 139) ;
}

.articleImg{
 max-height: 20vh;
 max-width: 20vh;
  
}
.articleHolder {
  display:flex;
  flex-wrap:wrap;
}

.articleCard{
  
  padding: 2rem;
  margin: 1rem;
  max-width: 20vw;
  min-width: 15vw;
  min-height: 15vh;
  max-heigh: 20vh;
  border: rgb(157, 0, 255) solid 3px;
}
article{
  display: grid;
  grid-template-columns: auto auto;
}
.articleItem{
  display: block;
  padding: 1em;
}
.articleItem > img{
  max-height: 70vh;
 max-width: 70vh;
  
}

.commentCard{
  border: rgb(255, 255, 255) solid 3px;
  margin: 20px;
  list-style-type: none;
}
.commentVote{
  text-align: right;
  padding-right: 20px;
  margin-bottom: 5px;
  font-size: small;
}
.commentHeader{
  display: grid;
  grid-template-columns: auto auto;
  border: rgb(255, 255, 255) solid 3px;

}
.commentBody{
  text-align: left;
  padding-left: 20px;
}
.commentHeaderDate {
  text-align: right;
  font-size: small;
  margin: 5px;
}
.commentHeader > h5{
font-size: large;
text-align: left;
padding-left: 20px;
margin: 5px;
}
.unselected {
  background-color: rgb(132, 132, 132);
}
.selected {
  background-color: rgb(220, 220, 220);
}
#newComment{
width: 87vw;
text-align: start;
margin-left: 40px;
}
.Error{
  color: red;
  font-weight: bold;
}
.loader {
  width: 5vw;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
      transform:rotate(720deg);
  }
}

.deleteButton{
  
}